
body {
    display: flex;
    background-image: url(images/beautiful-wallpaper-download-11.jpg);
    font-size: 30;
    object-fit: cover;
}

#navigationContainer{
    display: flex;
    align-items: center;
    text-transform: capitalize;
}


#navigationContainer img {
    display: flex;
    width: 50%;
    height: 60vh;
    border: turquoise solid 4px;

}

#navbar{
    list-style: none;
    display: flex;
    position: relative;
    text-align: center;
    justify-content: space-between
}


.formContainer{
    display: flex;
    border: black solid 7px;
    align-content: center;
    align-items: center;
}
